
html, body{
	height:100%;
}


#card-map{
	margin-top:3%;
	height:90%;
}

table{
	width:80%;
	height:100%;
	margin: 0 auto;
}

.card-container, .front, .back{
	height:140px;
	width:140px;
	border:1px solid red;
}

/*apparently need card to have a position relative*/
.card{
	position:relative;
}

/*set the front and back panels to have hidden backface visibility, and position absolute so that they overlay each other in the same position*/

/*not sure if top & left are necessary here*/
.front, .back{
	backface-visibility:hidden;
	position:absolute;
	top:0;
	left:0;
}

/*use a z-index to set the front panel on top of the back panel*/
.front{
	z-index:2;
	transform:rotateY(0deg);
	background: url('./imgs/mushroom.png') center no-repeat;
	background-size: 80% 80%;
	background-color:#3F51B5;
}

/*lesson learned: we have to have the back panel be rotated so its facing backwards right from the get go to prevent us from seeing it and make use of backface visibility*/
.back{
	transform:rotateY(180deg);
	background-size: 100% 140px;
}


/*attempting to make card rotate only upon clicking the front - will make use of toggle and active*/
.card-container.active .card{
	transform:rotateY(180deg);
}

.card{
	transition:2s ease;
	transform-style:preserve-3d;
}



